<nav class="fixed w-full z-50 top-0 shadow-lg" style="background: linear-gradient(135deg, #6366f1, #8b5cf6);">
  <div class="max-w-screen-xl mx-auto px-4 py-2 flex justify-center">
    <!-- Menu Items -->
    <div class="flex items-center space-x-4" id="navbar-sticky">
      <a routerLink="/home" class="flex flex-col items-center px-3 py-2 text-white text-sm rounded-lg hover:bg-white/20 transition duration-300 transform hover:-translate-y-1 shadow-md">
        <img src="https://cdn-icons-gif.flaticon.com/12749/12749320.gif" class="w-6 h-6 mb-1 rounded-full" alt="Home Icon"> Home
      </a>
      <a routerLink="/about" class="flex flex-col items-center px-3 py-2 text-white text-sm rounded-lg hover:bg-white/20 transition duration-300 transform hover:-translate-y-1 shadow-md">
        <img src="https://cdn-icons-gif.flaticon.com/15579/15579132.gif" class="w-6 h-6 mb-1 rounded-full" alt="About Icon"> About
      </a>
      <a routerLink="/projects" class="flex flex-col items-center px-3 py-2 text-white text-sm rounded-lg hover:bg-white/20 transition duration-300 transform hover:-translate-y-1 shadow-md">
        <img src="https://cdn-icons-gif.flaticon.com/18999/18999194.gif" class="w-6 h-6 mb-1 rounded-full" alt="Projects Icon"> Projects
      </a>
      <a routerLink="/Activity" class="flex flex-col items-center px-3 py-2 text-white text-sm rounded-lg hover:bg-white/20 transition duration-300 transform hover:-translate-y-1 shadow-md">
        <img src="https://cdn-icons-gif.flaticon.com/14447/14447766.gif" class="w-6 h-6 mb-1 rounded-full" alt="Activity Icon"> Activity
      </a>
      <a routerLink="/contact" class="flex flex-col items-center px-3 py-2 text-white text-sm rounded-lg hover:bg-white/20 transition duration-300 transform hover:-translate-y-1 shadow-md">
        <img src="https://cdn-icons-gif.flaticon.com/17556/17556357.gif" class="w-6 h-6 mb-1 rounded-full" alt="Contact Icon"> Contact
      </a>
    </div>
  </div>
</nav>
