<app-navbar></app-navbar>

<section class="home">
  <div class="container">
    <h1>Welcome to My Portfolio</h1>
    <p>Hi, I'm <strong>Ngoakoana Precious Mphago</strong>, a passionate and dedicated <span class="moving-text">software developer</span>.</p>

    <div class="cta">
      <a routerLink="/about" class="button">Learn More About Me</a>
      <a [routerLink]="[ '/projects' ]" class="button">See My Projects</a>
    </div>
  </div>
</section>

<!-- <app-projects></app-projects> -->

<app-footer></app-footer>
